{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>
    {% for listing in listings %}
        {% if listing.inactive == False %}
            <div class="card">
                <a href="{% url 'avalib_list' listing.id %}">
                    <div class="card-header">
                        <h5 class="card-title">{{ listing.title }}</h5>
                    </div>
                </a>
                <div class="card-body">
                    <img src="{{ listing.img }}" alt="Listing image" ismap>
                    <p class="card-text">{{ listing.description }}</p>
                    <ul>
                        {% for bid in bids %}
                            {% if bid.listing == listing %}
                                <li>{{ bid.bidder.username }} - ${{ bid.amount }}</li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                    <p class="card-text">Price: ${{ listing.price }}</p>
                </div>
                
            </div>
        {% else %}
            
        {% endif %}
    {% endfor %}


{% endblock %}